.font-style {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
  font-style: normal;
}

body {
  .font-style
}

.header {
  background-color: rgba(0, 0, 0, 1);
  display: block;
  width: 100%;
  height: 110px;
  border-bottom: 1px solid rgba(60, 69, 71, 1);
  &__navber {
    height: inherit;
    &_block {
      height: inherit;
      position: relative;
      top: 25%;
    }
  }
}

.navbar__logo {
  font-size: 35px;
  color: #3182B5;
  text-transform: uppercase;
  width: 225px;
  line-height: 1em;
  font-weight: 200;
  position: absolute;
  height: 100%;
  bottom: 20px;
}

ul > li.active > a {
  color: rgb(255, 255, 255);
}
.navbar__link {
  text-transform: uppercase;
  color: #3182B5;
  font-size: 20px;
  &:hover {
    background-color: transparent !important;
  }
}

//home page

.home__header {
  min-height: 720px;
  background-color: rgba(0, 0, 0, 1);
  display: block;
  &_title {
    color: #fff;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
  }
  &_text {
    position: relative;
    margin-top: 25%;
  }
}

.home__btn {
  background-color: #215779;
  border: solid #000000 0;
  color: #83B1CE;
  border-radius: 0;
  justify-content: center;
  padding: 10px 35px;
  font-size: 16px;
  margin: 10px 0;
}

.home__center {
  min-height: 720px;
  background-color: transparent;
  display: block;
}

.home__center_portfolio {
  position: relative;
  margin-top: 145px;
}
.home__center_title {
  display: block;
  line-height: 28px;
  text-align: center;
  font-size: 20px;
}

.home__center_name {
  display: block;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  font-size: 20px;

}

.home__center_text {
  display: block;
  line-height: 28px;
  text-align: center;
  font-size: 16px;
  margin: 40px 0;
}

.home__center > .container > div {
  min-height: 720px;
  position: relative;
  text-align: center;
}

.home__center_img {
  position: absolute;
  bottom: 0;
  right: 0;
}

.home__about {
  display: block;
  width: 100%;
  height: 720px;
  background: url("../images/bg-forefathers.jpg");
  &_title {
    color: #fff;
    font-size: 100px;
    font-weight: normal;
    position: relative;
    width: 50%;
    text-align: center;
    margin: 60px auto 100px;
    &:after {
      content: "";
      width: 105px;
      height: 10px;
      display: block;
      position: absolute;
      background-color: rgb(33, 87, 121);
      left: 40%;
    }
  }
  &_text {
    color: rgb(149, 149, 150);
    font-size: 22px;
    text-align: center;
    span {
      display: block;
      margin: 20px 0;
    }
  }
}

.home__contacts {
  display: block;
  min-height: 720px;
  &_title {
    color: rgb(33, 87, 121);
    font-size: 100px;
    font-weight: normal;
    position: relative;
    width: 50%;
    text-align: center;
    margin: 60px auto 100px;
    &:after {
      content: "";
      width: 105px;
      height: 10px;
      display: block;
      position: absolute;
      background-color: rgb(33, 87, 121);
      left: 40%;
    }
  }
  &_form {
    display: block;
  }
  &_contact {

  }
}

.contacts__form {
  position: relative;
  width: 700px;
  min-height: 185px;
  margin: 0 auto;
  &_text {
    background-color: rgba(255, 255, 255, 1);
    font: normal normal normal 16px/1.4em 'open sans condensed',sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(33, 87, 121, 1);
    color: #215779;
    margin: 0 0 5px;
    padding: 5px;
    width: 100%;
    border-radius: 0;
  }
  &_textarea {
    background-color: rgba(255, 255, 255, 1);
    font: normal normal normal 16px/1.4em 'open sans condensed',sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid rgba(33, 87, 121, 1);
    color: #215779;
    margin: 0 0 5px;
    padding: 5px;
    width: 100%;
    border-radius: 0;
    height: 114px;
    resize: none;
  }
  &_btn {
    border: 0;
    color: #FFFFFF;
    cursor: pointer;
    background-color: rgba(33, 87, 121, 1);
    font: normal normal normal 16px/1.4em 'open sans condensed',sans-serif;
    padding: 5px;
    position: relative;
    float: right;
    right: 25px;
    bottom: 0;
    font-size: 16px;
    font-weight: 300;
  }
}

.contact {
  text-align: center;
  &__img {

  }
  &__link_market-radio {
    background: url("../images/logo-contact.png");
    display: block;
    width: 175px;
    height: 75px;
    object-fit: cover;
    margin: 0 auto;
  }
  &__text {
    display: block;
    font-size: 16px;
    margin: 20px 0;
  }
  &__link {
    margin: 20px auto;
    font-size: 16px;
    display: block;
  }
}
//footer

.footer{
  width: 100%;
  height: 66px;
  background-color: rgba(0, 0, 0, 1);
  display: block;
  color: #ffffff;
  &__left {
    float: left;
    height: 66px;
    line-height: 5em;
  }
}

.footer__link_market-radio{
  background: url("../images/logo-market-radio.png");
  display: inline-block;
  width: 59px;
  height: 25px;
  margin-left: 20px;
}

.footer__rigth {
  float: right;
}

.logo__social{
  width: 32px;
  height: 32px;
  display: inline-block;
}

.social__vk {
  background: url("../images/vk.png");
}

.social__fb{
  background: url("../images/fb.png");
}

//about page
.about__page {
  text-align: center;
  margin-bottom: 50px;
  line-height: 1;
}
.about__main_text {
  font-size: 60px;
  margin-top: 10%;
  text-align: center;
  color: #215779;
}
.about__main__border {
  border-bottom: 11px solid #215779;
  width: 10%;
  margin: 0 auto;
}
.about__info__blocks {
  margin-top: 100px;
}
.about__info__block1 {
  margin: 0 15%;
}
.about__info__block2 {
  margin: 0 10%;
}
.about__button {
  width: 250px;
  background: #215779;
  color: #379DDB;
  transition: 0.5s;
  height: 45px;
  border-radius: 0;
}
.about__button:hover {
  background: #102B3C;
  transition: 0.5s;
}
.about__info__text {
  margin: 50px 0;
}

//services page
.services__page {
  margin-bottom:50px;
  line-height: 1;
}
.services__main_text {
  font-size: 60px;
  margin-top: 10%;
  text-align: center;
  color: #215779;
}
.services__main__border {
  border-bottom: 11px solid #215779;
  width: 10%;
  margin: 0 auto;
}
.services__info__blocks {
  margin: 50px auto;
  text-align: center;
}
.servicess__info__block__lower {
  margin-top: 50px;
}
.services__img {
  width:55%;
}
.services__button {
  width: 320px;
  background: #215779;
  color: #379DDB;
  transition: 0.5s;
  height: 45px;
  border-radius: 0;
}
.services__button:hover {
  background: #102B3C;
  transition: 0.5s;
}
.sercives__audio {
  margin: 25px 0;
}

//services page

.sign__page {
  color: #605C5E;
  line-height: 1;
}
.sign__main_text {
  font-size: 60px;
  margin-top: 10%;
  color: #215779;
}
.sign__form2, .sign__form1 {
  margin-top: 70px;
}
.sign__form__style {
  background-color: #AED1E6;
  border-radius: 0;
  width:50%;
}
.sign__form__text {
  font-weight: normal;
}
.sign__button {
  width: 250px;
  background: #215779;
  color: #379DDB;
  transition: 0.5s;
  height: 45px;
  border-radius: 0;
}
.sign__button:hover {
  background: #102B3C;
  transition: 0.5s;
}